@import url("https://fonts.googleapis.com/css2?family=Borel&family=Salsa&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #034748;
  font-family: sans-serif;
  min-height: 100vh;
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1.2rem;
}

header {
  background-color: white;
  padding: 0rem 2rem;
  box-shadow: 0px 8px 12px 2px rgba(0, 0, 0, 0.2);
}

.header__branding {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.branding__logo {
  transform: scale(2);
  fill: #034748;
}

.branding__text {
  font-family: "Salsa", cursive;
  color: #4bab85;
  font-size: 2.5rem;
}

.branding__text span {
  color: #034748;
}

main {
  margin-top: 20px;
  text-align: center;
}

.action-btn,
#submit-book {
  border: none;
  font-family: sans-serif;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.4s;
}

.action-btn:hover,
#submit-book:hover {
  transform: translateY(-2px);
}

.action-btn:active,
#submit-book:active {
  transform: translateY(0px);
}

.add-btn,
#submit-book {
  margin: 2rem 0;
  background: #4bab85;
  color: white;
  font-size: 1.7rem;
}

.books__section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.book {
  background-color: aliceblue;
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  box-shadow: 0px 8px 12px 2px rgba(0, 0, 0, 0.3);
}

.book__title {
  font-size: 1.5rem;
  font-style: italic;
}

.book__author {
  color: hsl(0, 0%, 35%);
  padding-bottom: 1rem;
  align-self: center;
}

.book__pages {
  font-size: 1.25rem;
}

.book__data,
.book__actions {
  display: flex;
  flex-direction: column;
}

.book__data {
  gap: 0.5rem;
}

.book__actions {
  gap: 1.2rem;
}

.action-btn {
  align-self: center;
  padding: 1rem;
  width: 300px;
}

.attribution {
  text-align: center;
  color: white;
  padding: 3rem 0;
}

.attribution a {
  display: inline-block;
  text-decoration: none;
  color: gold;
  transition: all 0.4s;
}

.attribution a:hover,
.attribution a:active {
  transform: scale(1.2);
}

.read-btn,
.remove-btn {
  font-size: 1.3rem;
}

.read-btn {
  background-color: #dce2e2;
}

.remove-btn {
  background-color: rgb(255, 131, 126);
}

.modal__overlay {
  background: hsl(0, 0%, 12%);
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;

  display: none;
}

.add-book__modal {
  position: absolute;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  border-radius: 0.5rem;
  box-shadow: 0px 8px 12px 2px rgba(0, 0, 0, 0.5);

  display: none;
}

.add-book__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  padding: 2rem;
}

.add-book__form h2 {
  font-family: "Salsa", cursive;
  color: #034748;
  font-size: 2rem;
}

.input__group,
.checkbox__group {
  display: inline-flex;
  gap: 1rem;
  width: 100%;
  align-self: flex-start;
}

.checkbox__group {
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: space-between;
}

.input__group input {
  width: 100%;
  border: none;
  outline: none;
  background-color: #dce2e2;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
}

@media screen and (min-width: 500px) {
  .add-book__form {
    min-width: 500px;
  }
}

.checkbox-wrapper-22 .switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.checkbox-wrapper-22 .switch input {
  display: none;
}

.checkbox-wrapper-22 .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.checkbox-wrapper-22 .slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

.checkbox-wrapper-22 input:checked + .slider {
  background-color: #66bb6a;
}

.checkbox-wrapper-22 input:checked + .slider:before {
  transform: translateX(26px);
}

.checkbox-wrapper-22 .slider.round {
  border-radius: 34px;
}

.checkbox-wrapper-22 .slider.round:before {
  border-radius: 50%;
}
